.box{
    position:absolute;
    top:333%;
    left:20%;
    bottom:80%;
    transform:translate(-50%,-50%);
    direction:rtl;
    }
   .box a{
   font-size:40px;
   color:#313131;
   transition:0.3s all;
   }
   .box a:hover{
     color:#f1c40f;
     }
  .b1:hover ~ a{
    color:#f1c40f;
    }
    .b2:hover ~ a{
    color:#f1c40f;
    }
    .b3:hover ~ a{
    color:#f1c40f;
    }
    .b4:hover ~ a{
    color:#f1c40f;
    }
    .b5:hover ~ a{
    color:#f1c40f;
    }
    
   /*use of clockwise notation in measurement of
    padding and margin*/ 
   
   :root{
   --styling background-color:#400713;
   --color-image background-color:rgb(160,30,59);
   }
  .pic {
    width:300px;
    height:200px;
    padding:2px 80px 50px 5px;
    margin:80px 70px 0px 90px;
    }
  
    .picbig{
    position:absolute;
    width:0px;
    -webkit-transition:width 0.3s linear 0s;
    transition:width 0.3s linear 0s; 
    z-index:10;
    }
    
  .pic:hover + .picbig{
       width:600px;
       height:300px;
       }
       
  .heading{
  font-family:ar hermann;
  font-size:16;
  text-align:center;
  }
  
  /*i used color-maroonish and white
  as the page body and background respectively*/
  
   body{
  background-color:#400713;
     } 
    
  .heading{
  font-famly:ar hermann;
  font-size:10pt;
  text-align:center;
  top:30%
  }
  
  #color-image{
  background-color:#daf7a6;
  padding:0px 30px 5px 40px;
  margin:5px 20px 20px 20px;
  }
  
  #styling{
  background-color:#400713;
  padding:20px 20px 0px 20px;
  margin:25px 20px -5px 20px;
  color:white;
  text-align:left;
  font-family:ar hermann;
  font-size:25pt;
  }
  
  #stylin{
  background-color:#400713;
  padding:.form-control{
  width:600px;
  background:transparent;
  border:none;
  outline:none;
  border-bottom:1px solid gray;
  color:maroon;
  font-size:18px;
  margin-bottom:16px;
  }
  margin:25px 20px -5px 20px;
  color:white;
  font-size:20pt;
  font-family:ar hermann;
  text-align:right;
  }
  
  #style{
     background-color:white;
     }
   
   .style3{
     background-color:daf7a6;
     margin:-25px 20px 20px 20px;
     padding:80px 30px 5px 40px;
     font-size:18pt;
     }
   
   
   /*styles for star rates*/ 
   
   
   * {
      box-sizing: border-box;
      background-color:#daf7a6;
  }
  
  body {
      font-family: Arial;
      margin: 0 auto; /* Center website */
    
      padding: 20px;
  }
  
  .heading {
      font-size: 25px;
      margin-right: 55px;
      color:#400713;
  }
  
  .fa {
      font-size: 20px;
  }
  
  .checked {
      color: orange;
  }
  
  /* Three column layout */
  .side {
      float: left;
      width: 15%;
      margin-top:10px;
  }
  
  .middle {
      margin-top:10px;
      float: left;
      width: 70%;
  }
  
  /* Place text to the right */
  .right {
      text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  
  /* The bar container */
  .bar-container {
      width: 100%;
      background-color: #f1f1f1;
      text-align: center;
      color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
      .side, .middle {
          width: 100%;
      }
      .right {
          display: none;
      }
  } 
   
  .Comment Form{
  width:px;
  height:5% ;
  }
  
  
  /* Comment Form Styles*/
  
  form{
  margin-top:20px 20px -5px 20px;
  padding:20px 20px 0px 20px;
  transition:all 4s ease-in-out;
  font-family:ar hermann;
  }
  
  .form-control{
  width:600px;
  background:transparent;
  border:none;
  outline:none;
  border-bottom:1px solid gray;
  color:maroon;
  font-size:18px;
  margin-bottom:16px;
  }
  input{
  height:45px;
  }
  
  form .submit {
  background:#400713;
  font-size:20px;
  font-weight:bold;
  letter-spacing:2px;
  height:50px;
  margin-top:20px;
  }
  form .submit:hover{
     background-color:#f44336;
     cursor:pointer;
     }
     
     
   !--  /* Icons Codes*/--!
   
  body{
    margin:0;
    padding:0;
    background:#dedede;
  }
  ul{
  position:relative;
  bottom:10%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
  }
  ul li{
    list-style:none;
    }
    
   ul li a{
   position:relative;
   width:60px;
   height:60px;
   background:#f1f1f1;
   display:block;
   text-align:center;
   margin:0 10px;
   border-radius:50%;
   padding:6px;
   box-sizing:border-box;
   text-decoration:none;
   box-shadow:0 10px 15px rgba(0,0,0,0.3);
   background:linear-gradient(0deg, #ddd, #fff);
   transition:.5s;
   }
   ul li a:hover{
   box-shadow:0 2px 5px rgba(0,0,0,0.3);
   }
   ul li a .fa{
   width:100%;
   height:100%;
   display:block;
   background:linear-gradient(0deg, #fff, #ddd);
   border-radius:50%;
   line-height:calc(60px - 12px);
   font-size:24px;
   color:#262626;
   transition:.5s;
   }
   ul li:nth-child(1) a:hover .fa{
   color:#3b5998;
   }
   ul li:nth-child(2) a:hover .fa{
   color:#00aced;
   }
   ul li:nth-child(3) a:hover .fa{
   color:#dd4b39;
   }
   ul li:nth-child(4) a:hover .fa{
   color:#007bb6;
   }
   ul li:nth-child(5) a:hover .fa{
   color:#bc2a8d;
   }
     